body {
	font-family: 'Raleway', sans-serif;
}

#main-content-container {
	padding: 0 25px;
	padding-top: 50px; /* Offset for fixed navbar */
	margin-bottom: 10px;
}

#main-content-container .bluebar {
	border: 3px solid #87CEEB;
	margin: 0px -26px;
	position: fixed;
	left: auto;
	width: inherit;
	z-index: 1;
}

#main-content .view-section {
	padding-top: 50px;
	padding-bottom: 20px;
	border-top: 1px solid #87CEEB;
}

#main-content .view-section .view-section-details {
	padding-top: 10px;
}

#footer {
	text-align: center;
	padding: 3px;
	background-color: #87CEEB;
	color: black;
	margin: 5px -25px -5px;
	font-weight: bold;
}

#attributions-modal {
	color: black;
}

@media (max-width: 768px) {
	
	#main-content > .view-section {
		padding-top: 30px;
	}
	
	#main-content > .view-section h2 {
		text-align: center;
	}
}